* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: #222931;
    --second-color: rgb(254, 112, 18);
    --green-color: #43aa5f;
    --blue-color: #0d6fe7;
    --brown-color: #573418;
}

.links {
    text-decoration: none;
    color: inherit;
}

.btn-active {
    background-color: var(--second-color);
}

.button-group {
    width: 100%;
    border-top: 3px solid var(--second-color);
    text-align: right;
    position: absolute;
    top: 0;
    z-index: 100;
}

.button-group .button-gorup--container {
    width: fit-content;
    background-color: var(--second-color);
    right: 200px;
    position: absolute;
}

.button-group--item {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-family: 'Hind', sans-serif;
    padding: 8px 10px;
}

.logo {
    height: 100px;
    margin-right: 200px;
}

header {
    position: relative;
    background-image: url(../img/certificate.jpg);
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: 0px -100px;
}

.main-banner--menu {
    height: fit-content;
    background-color: #3f393600;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}

.main-banner--menu div {
    width: fit-content;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    z-index: 100;
}

.main-banner--menu--list {
    list-style: none;
    text-align: right;
    padding-left: 15px;
    border-bottom: 1px solid #fff;
    margin-left: 100px;
}

.main-banner--menu-list-item {
    display: inline-block;
    padding: 15px 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.7px;
    font-family: 'Hind', sans-serif;
    cursor: pointer;
}

.main-banner--menu-list-item:hover {
    background-color: var(--second-color);
}

.main-banner--promotion {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.74);
    top: 500px;
    left: 25%;
    right: 25%;
    padding: 30px 30px;
    text-align: left;
}

.main-banner--promotion--title {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
}

.main-banner--promotion--description {
    font-weight: bold;
    color: var(--second-color);
    font-family: 'Hind', sans-serif;
    font-size: 25px;
}

.main-banner--title-container {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    text-align: center;
}

.main-banner--title-container h1 {
    font-weight: bold;
    font-size: 70px;
    font-family: 'Prompt', sans-serif;
    color: #fff;
}

.certification {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}

.title-certification {
    color: var(--second-color);
    font-size: 45px;
    margin-left: 100px;
}

.title-certification img {
    vertical-align: top;
}

.certication-item {
    width: 70%;
    height: 240px;
    margin: 30px auto;
    box-shadow: 5px 10px 18px #888888;
    text-align: center;
    padding-top: 35px;
}

.certication-item div {
    display: inline-block;
}

.certification--item-image {
    width: 30%;
    /*  background-color: #43aa5f; */
}

.certification--item-description {
    margin-top: 25px;
    width: 50%;
    text-align: left;
    vertical-align: top;
}

.certification--item-description h1 {
    font-weight: 900;
    color: var(--main-color);
    margin-bottom: 20px;
    width: fit-content;
    cursor: pointer;
}

.certification--item-description h1:hover {
    border-bottom: 3px solid #222931;
}

.certification--item-description p {
    margin-left: 25px;
    font-weight: 600;
    color: #888888;
}

.certification--item-image img {
    height: 200px;
    width: 250px;
    cursor: pointer;
}

.certification--item-image img:hover {
    height: 220px;
    width: 270px;
    transition-duration: 500ms;
}

.footer {
    height: fit-content;
    width: 100%;
    padding: 30px 0px;
    background-color: var(--main-color);
    text-align: center;
}

.footer div {
    display: inline-block;
    width: 40%;
    margin: 0px auto;
}

.footer--right-reserved p {
    font-size: 14px;
    color: #5f656d;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    text-align: left;
}

@media only screen and (max-width: 1600px) {
    .main-banner--menu {
        height: fit-content;
        width: 100%;
        position: absolute;
        top: 95px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .main-banner--menu--list {
        list-style: none;
        text-align: left;
        padding-left: 15px;
    }
    .main-banner--menu-list-item {
        display: inline-block;
        padding: 15px 8px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.7px;
        font-style: normal;
        font-family: 'Hind', sans-serif;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1400px) {
    .logo {
        margin: 0;
    }
}